body {
    background-color: beige;
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
}

.navbar {
    margin: 0;
    padding: 0;
}

.container-fluid {
    background-color: #196651;
}

.logo {
    max-width: 100px;
    max-height: 100px;
    margin-left: 50px;
}

.nav-link {
    position: relative;
    color: beige;
    margin-left: 250px;
    font-size: x-large;
    font-family: "PT Serif", serif;
    font-weight: 400;
    font-style: italic;
    transition: color 0.7s;
    transition: 0.7s;
}

.nav-link::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 10px;
    width: 0;
    height: 2px;
    background-color: beige;
    transition: width 0.7s;
}

.nav-link:hover {
    color: beige;
    transform: scale(120%);
    transition: 0.7s;
}

.nav-link:hover::after {
    width: 100%;
}

.bar {
    background-color: black;
    height: 5px;
    max-width: 100%;
    padding: 0;
    margin: 0;
}

.carousel-inner_home{
    height: 80vh;
    overflow: hidden; 
}

.cimg{
    display: block;
    height: auto;
    max-width: 100%;
    line-height: 5;
    max-height: 80vh;
    margin:auto;
    width: 100%;
    opacity: 0.85;
}
.carousel-caption{
    top: 1.5%;
    left: 1%;
    width: 40%;

}

.carousel-caption-text{
    font-size: 250%;
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
    color: black;
}

.kontakt_heading,.onas_heading,.home_heading,.galeria_heading{
    margin-top: 3%;
    font-size: 200%;
    font-family: "Pacifico", cursive;
    text-align: center;
}

    /* kontakt */
.kontakt_info{
    margin-top: 10%;
    font-size: 150%;
    font-family: "Pacifico", cursive;
    justify-content: center;

}

.klogo{
    max-width: 100px;
    max-height: 100px;
}

.kontakt_logo{
    width: 100px;
    height: 100px;
}
#kontakt_more{
    text-align: center;
}
    /*  O nás  */
.onas_row,.home_row{
    margin-top: 5%;
    font-size: 150%;
    font-family: "Pacifico", cursive;
    justify-content: center;
    text-align: center;
    transition: 0.5s;
}
.onas_col{
    transition: 0.5s;
} 
.onas_col:hover{
    transform: scale(110%);
    transition: 0.5s;
}
    /* Domovská stránka */
.home_row{
    font-size: 150%;
    margin-top: 5%;
}
.home_col{
    padding-bottom: 5%;
}

.home_podnadpis{
    font-size: 120%;
    text-decoration: underline black 3px;
}

.carousel-item-galeria{
    width: 100%;
}

.tlacitko {
    border: none;
}

.tlacitko .carousel-control-prev-icon,.tlacitko .carousel-control-next-icon {
  filter: invert(100%);
}

.obrazok{
    max-width: 300px;
    max-height: 300px;
    border-radius: 15px;
}
.grid_mobile{
    display: none;
}
.obrazok_holder{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    
}


@media (max-width: 768px) {
    /* navbar */
    .navbar{
        width: 100%;
        margin: auto;
    }
    .nav-link {
        margin-left: 0;
        text-align: left;
    }
    .logo{
        margin-left: 0;
    }
    .cimg{
        opacity: 0.7;
    }
    /* home stranka */
    .carousel-inner_home{
        height: 231.5px;
    }
    .carousel-caption-text{
        font-size: 125%;
    
    }

    .carousel_home_holder{
        padding:0%;
    }
    .home_carousel_row{
        width: 100%;
        margin: auto;
    }
    .home_heading{
        margin: auto;
        margin-bottom: 25%;
        margin-top: 25%;
        width: 90%;
    }
    .home_row{
        display: flex;
        flex-direction: column;
        width: 90%;
        margin: 0 auto;
    }
    .home_podnadpis{
        font-style: italic;
    }
    
    /* o nás */
    .onas_row{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    .onas_col{
        width: 100%;
        margin-bottom: 20%;
    }

    .onas_col{
        width: 85%;
        font-size: 85%;
        transition: 0.5s;
    } 
    .onas_col:hover{
        transform: scale(105%);
        transition: 0.5s;
    }
    .carousel_pc{
        display: none;
    }
    /* galeria */
    .grid_mobile{
        display: block;
        width: 90%;
    }
    .galeria_maintext{
        width: 90%;
        margin: auto;
    }
    .galeria_nadpis{
        font-size: 150%;
    }
    .galeria_text{
        font-size: 85%;
    }
    .obrazok{
        width: 100%;
        height: 100%;
        padding-top:10% ;
    }

    .bottom_col{
        display: flex;
        justify-content: center;
    }
    /* kontakt */
    .kontakt_info{
        width: 100%;
        margin: auto;
    }
    .nadpis{
        font-size: 125%;
        margin-bottom: 15%;
    }
    .podnadpis{
        font-size: 90%;
        margin: auto;
        margin-bottom: 10%;
        width: 90%;
    }

}