@font-face {
    font-family: Inter;
    src: url(../fonts/Inter-VariableFont_slnt\,wght.ttf);
}

@font-face {
    font-family: MainFont;
    src: url(../fonts/Montserrat-VariableFont_wght.ttf);
}

body{
    max-width: 100vw;
    margin: 0;
    color: rgb(247, 245, 255);
}

.row, .col, p, h1, span, h2, ul{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
    color: rgb(247, 245, 255);
}

ul{
    list-style: none;
}

/* Navigation Bar Styling ↓ */

#navBar{
    padding-left: clamp(1px, 6.65vw,150px);
    padding-right: clamp(1px, 6.65vw,150px);
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.navBarLogo{
    width: clamp(10px, 16vw,75px);
    transition: 0.5s;
    cursor: pointer;
}

.navMenu{
    display: flex;
    justify-content: space-between;
    width: clamp(500px, 30.78125vw, 591px);
    text-align: center;
    align-items: center;
    font-family: Inter;
    font-weight: medium;
    font-size: 16px;
}

.navItem::after{
    content: "";
    width: 0%;
    height: 2px;
    background-color: rgb(247,245,255);
    border-radius: 10px;
    position: relative;
    left: -5%;
    display: block;
    bottom: 12px;
    transition: 0.5s;
}

.navBtn a{
    font-family: Inter;
    font-weight: bold;
    font-size: 16px;
    background-color: rgb(247, 245, 255);
    border-radius: 5px;
    color: rgb(7, 7, 7);
    padding: 10px 28px;
    transition: 0.5s;
}

.phoneMenu{
    width:clamp(10px, 64vw, 400px);
    justify-content: space-between;
    align-items: center;
    font-size: clamp(10px, 6.4vw, 24px);
    display: none;
    color: rgb(247, 245, 255);
}

.phoneMenuItem{
    transition: 0.5s;
}

.phoneMenuContact{
    background-color: rgb(247, 245, 255);
    padding: 10px 25px;
    padding-bottom: 7.5px;
    border-radius: 5px;
    font-size: clamp(5px, 4.8vw, 24px);
    color: rgb(7, 7, 7);
    transition: 0.5s;
}

/* Navigation Bar Hover ↓ */

.navBarLogo:hover{
    scale: 1.1;
    transition: 0.5s;
}

.navBtn a:hover{
    color: rgb(119, 0, 169);
    background-color: rgb(7, 7, 7);
    box-shadow: 0px 0px 10px rgb(119, 0, 169), 0px 0px 20px rgb(119, 0, 169), 0px 0px 30px rgb(119, 0, 169);
    transition: 0.5s;
}

.navItem:hover::after{
    width: 110%;
    transition: 0.5s;
}

.phoneMenuItem:hover{
    cursor: pointer;
    color: rgb(7,7,7);
    text-shadow: 0px 0px 10px rgb(119, 0, 169), 0px 0px 20px rgb(119, 0, 169), 0px 0px 30px rgb(119, 0, 169);
    transition: 0.5s;
}

.phoneMenuContact:hover{
    color: rgb(119, 0, 169);
    background-color: rgb(7, 7, 7);
    box-shadow: 0px 0px 10px rgb(119, 0, 169), 0px 0px 20px rgb(119, 0, 169), 0px 0px 30px rgb(119, 0, 169);
    transition: 0.5s;
}

/* Navigation Bar Responsivity ↓ */

@media (max-width:768px){
    .navMenu{
        display: none;
    }
    .phoneMenu{
        display: flex;
    }
}

@media (min-width: 1440px){
    #navBar{
        padding-left: clamp(100px, 7.8125vw ,150px);
        padding-right: clamp(1px, 6.65vw,150px);
    }
}

/* ----Home Page---- */

/* Hero section Styling ↓ */

.heroBg{
    background-image: url(../content/images/Bg\ Hero\ Section.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#heroSection{
    margin-left: clamp(25px, 8.04vw ,180px);
    margin-right: clamp(25px, 8.04vw ,180px);
    padding-top: clamp(100px, 5.99vw, 115px);
}

.leftHero{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h1{
    text-align: center;
    font-family: MainFont;
    font-weight: 400;
    font-size: clamp(20px, 13.4vw, 100px);
}

h1 span{
    font-size: clamp(20px, 24vw, 200px);
    font-weight: 800;
}

.leftHero p{
    font-family: Inter;
    font-weight: medium;
    font-size: clamp(12px, 3.2vw, 16px);
    width: clamp(100px,85.3vw,700px);
    opacity: 0.75;
    margin: auto;
    margin-top: 30px;
}

.btnContainer{
    margin-top: 100px;
    display: flex;
    flex-direction: column;
}

.actionBtn{
    font-family: Inter;
    font-weight: bold;
    color: rgb(7, 7, 7);
    background-color: rgb(247, 245, 255);
    text-transform: uppercase;
    border-radius: 5px;
    font-size: 16px;
    width: clamp(100px, 85vw,750px);
    height: 50px;
    margin: auto;
    text-align: center;
    align-content: center;
    transition: 0.5s;
}

.actionLink{
    font-family: Inter;
    font-weight: 500;
    font-size: 16px;
    text-transform: capitalize;
    text-decoration: underline;
    margin: auto;
    margin-top: 30px;
    transition: 0.5s;
}

.rightHero{
    display: flex;
    justify-content: center;
    position: relative;
    z-index: 10;
}

.heroImg{
    background-image: url(../content/images/Hero\ Section\ Img.png);
    background-size: cover;
    background-position: center;
    width: clamp(100px, 81vw, 600px);
    height: clamp(75px, 75vw,400px);
    margin-top: 60px;
    margin-bottom: 70px;
    position: relative;
    transition: 0.5s;
}

.heroImg::before{
    content: "";
    display: block;
    width: clamp(10px, 17.3vw, 100px);
    height: clamp(10px, 17.3vw, 100px);
    background-color: rgb(247, 245, 255, 0.75);
    border-radius: 10px;
    position: absolute;
    top: -10px;
    left: -10px;
    z-index: -1;
    transition: 0.5s;
}

.heroImg::after{
    content: "";
    display: block;
    width: clamp(10px, 44vw, 250px);
    height: clamp(10px, 44vw, 250px);
    background-color: rgb(247, 245, 255, 0.75);
    border-radius: 10px;
    position: absolute;
    bottom: -10px;
    right: -10px;
    z-index: -1;
    transition: 0.5s;
}

/* Hero Section Hover ↓ */

.actionBtn:hover{
    color: rgb(119, 0, 169);
    background-color: rgb(7, 7, 7);
    box-shadow: 0px 0px 15px rgb(119, 0, 169), 0px 0px 30px rgb(119, 0, 169), 0px 0px 45px rgb(119, 0, 169);
    z-index: 1;
    transition: 0.5s;
}

.actionLink:hover{
    color: rgb(119, 0, 169);
    font-weight: bold;
    transition: 0.5s;
}

.heroImg:hover::before{
    top: 0;
    left: 0;
}

.heroImg:hover::after{
    bottom: 0;
    right: 0;
}

.heroImg:hover{
    box-shadow: 0px 0px 15px rgb(119, 0, 169), 0px 0px 30px rgb(119, 0, 169);
}

/* Hero Section Responsivity ↓ */

@media (min-width:768px){
    .btnContainer{
        flex-direction: row;
        margin: auto;
        margin-top: 83px;
    }
    .actionBtn{
        margin: 0;
        max-width: 250px;
        height: 60px;
        font-size: 20px;
    }
    .actionLink{
        margin: 0;
        margin-left: 50px;
        align-content: center;
        font-size: 20px;
    }
    .heroImg{
        margin-top: 100px;
    }
    .heroImg::before{
        top: -25px;
        left: -25px;
    }
    .heroImg::after{
        right: -35px;
        bottom: -35px;
    }

}

@media (min-width:1440px){
    #heroSection{
        margin-left: clamp(100px, 9.375vw, 180px);
        margin-right: clamp(100px, 9.375vw, 180px);
        height: 950px;
    }
    .leftHero{
        justify-content: left;
    }
    h1{
        text-align: left;
        font-size: clamp(20px, 5.2vw, 100px);
    }
    h1 span{
        font-size: clamp(20px, 10.4vw, 200px);
    }
    .leftHero p{
        margin: 0;
        font-size: clamp(12px, 0.83vw, 16px);
        width: clamp(100px,36.45vw,700px);
    }
    .btnContainer{
        margin: 0;
        margin-top: 83px;
    }
    .rightHero{
        justify-content: right;
    }
    .heroImg{
        width: clamp(100px, 31.25vw, 600px);
        height: clamp(75px, 20.8vw, 400px);
        margin: 0;
        margin-top: 75px;
        margin-right: 35px;
    }
}

/* Tool Section Styling ↓ */

.siteBg{
    background-image: linear-gradient(90deg, rgb(7,7,7) 0%, rgb(11,11,11) 48%, rgb(11,11,11) 100%);
}

#toolSection{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    padding-bottom: 175px;
    border-bottom: 1px solid rgb(247, 245, 255, 0.05);
}

#toolSection h2{
    font-family: MainFont;
    font-weight: 700;
    font-size: clamp(12px, 6.9vw,32px);
    padding: 0;
    margin: auto;
    margin-top: 165px;
    width: auto;
    position: relative;
}

.toolContainer{
    padding: 0;
    display: flex;
    justify-content: center;
    max-width: 100vw;
    gap: 4.01vw;
}

.toolCard{
    background-color: rgb(247, 245, 255, 0.75);
    border-radius: 10px;
    color: rgb(7, 7, 7);
    width: clamp(100px, 53.3vw, 250px);
    aspect-ratio: 1/1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    margin-top: 75px;
    margin-bottom: 50px;
    transition: 0.5s;
}

.toolCardIcon{
    font-size: clamp(10px, 10.65vw, 50px);
    text-align: center;
    margin-top: -20px;
}

.cardName{
    font-family: MainFont;
    font-weight: 700;
    font-size: clamp(10px ,6.4vw, 32px);
    text-align: center;
    line-height: 122%;
    margin-top: 25px;
}

.cardArrow{
    font-family: MainFont;
    font-weight: 700;
    font-size: clamp(10px, 8.53vw, 48px);
    text-align: end;
    position: absolute;
    bottom: 0;
    right: clamp(0px, 4vw, 25px);
}

/* Tool Section Hover ↓ */

.toolCard:hover{
    background-color: rgb(7, 7, 7);
    color: rgb(119, 0, 169);
    box-shadow: 0px 0px 15px rgb(119, 0, 169), 0px 0px 30px rgb(119, 0, 169), 0px 0px 45px rgb(119, 0, 169);
    cursor: pointer;
    transition: 0.5s;
}

/* Tool Section Responsivity ↓ */

@media (min-width: 768px){
    #toolSection h2{
        margin: 0;
        margin-top: 165px;
        margin-left: clamp(100px, 9.375vw, 180px);
    }
}

@media (min-width: 1440px){
    #toolSection h2{
        font-size: clamp(12px, 1.65vw,32px);
    }
}

/* Footer Styling ↓ */

.footerBg{
    background-image: linear-gradient(rgb(24,24,24) 0%, rgb(11,11,11) 100%);
}

.mainFooter{
    border-top: 1px solid rgb(247, 245, 255, 0.05);
    border-bottom: 1px solid rgb(247, 245, 255, 0.05);
    display: flex;
    flex-direction: column;
}

.footerLogoCont{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.footerLogo{
    transition: 0.5s;
}

.footerNav{
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family: Inter;
    font-weight: medium;
    font-size: 16px;
    gap: 20px;
}

.footerNav a{
    width: fit-content;
    align-self: center;
}

.footerNav a::after{
    content: "";
    display: block;
    width: 0%;
    height: 2px;
    background-color: rgb(247, 245, 255);
    border-radius: 10px;
    position: relative;
    bottom: 12px;
    left: -5%;
    transition: 0.5s;
}

.footerSocials{
    display: flex;
    justify-content: center;
    gap: 25px;
    margin-top: 53px;
    margin-bottom: 50px;
    opacity: 0.75;
}

.fb-icon .ig-icon{
    font-size: 5px;
}

.bottomFooter{
    font-family: Inter;
    font-weight: 400;
    font-size: 12px;
    opacity: 0.75;
    text-align: center;
}

.bottomFooter p{
    padding: 0;
    margin: 25px 0;
}

.footerSocials i{
    transition: 0.5s;
}

/* Footer Hover ↓ */

.footerLogo:hover{
    scale: 1.05;
    cursor: pointer;
    transition: 0.5s;
}

.footerNav a:hover::after{
    width: 110%;
    transition: 0.5s;
}

.footerSocials i:hover{
    cursor: pointer;
    color: rgb(119, 0, 169);
    text-shadow: 0px 0px 15px rgb(119, 0, 169), 0px 0px 30px rgb(119, 0, 169);
    transition: 0.5s;
}

/* Footer Responsivity ↓ */

@media (min-width: 1024px){
    .footerLogoCont{
        justify-content: left;
        margin: 30px 0;
        margin-left: clamp(10px, 9.375vw,180px);
    }
    .footerLogo{
        width: 163px;
        height: 50px;
        align-self: center;
    }
    .mainFooter{
        flex-direction: row;
    }
    .footerNav{
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin: 45px 0;
        width: clamp(10px, 19.95vw, 383px);
        max-width: 383px;
        gap: 0;
    }
    .footerSocials{
        justify-content: right;
        align-items: center;
        margin: 45px 0;
        margin-right: clamp(10px, 9.375vw,180px);
    }
}

/* ----Sub Pages---- */

/* SubHero Styling ↓ */

#subHero{
    padding-top: 198px;
    padding-bottom: 289px;
    border-bottom: 1px solid rgb(247, 245, 255, 0.05);
}

#subHero h1{
    font-family: MainFont;
    font-weight: bold;
    font-size:clamp(10px, 16vw ,150px);
    padding: 0;
    text-align: center;
}

.navDetail{
    font-family: MainFont;
    font-weight: 400;
    font-size:clamp(5px, 3.2vw, 16px);
    opacity: 0.5;
    padding: 0;
    text-align: center;
    letter-spacing: 3px;
}

.subHeroText{
    font-family: Inter;
    font-weight: 500;
    font-size: clamp(5px, 3.2vw, 16px);
    opacity: 0.65;
    padding: 0;
    text-align: center;
    width: clamp(10px, 85.33vw, 1100px);
    margin: auto;
    padding-top:clamp(10px, 7.45vw, 40px);
}

#subHero2{
    padding-top: 198px;
    padding-bottom: 289px;
    border-bottom: 1px solid rgb(247, 245, 255, 0.05);
}

#subHero2 h1{
    font-family: MainFont;
    font-weight: bold;
    font-size:clamp(10px, 13.33vw ,150px);
    padding: 0;
    text-align: center;
}

/* ----About Us Page---- */

#startSection{
    display: grid;
    grid-template-columns: auto;
    margin-top: 47px;
}

.textContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.textContainer h2{
    font-family: MainFont;
    font-size: 26px clamp(10px, 6.93vw, 32px);
    font-weight: 700;
}

.textContainer p{
    font-family: Inter;
    font-weight: 500;
    font-size: clamp(5px, 3.2vw, 16px);
    opacity: 0.65;
    width: clamp(10px, 85.33vw, 650px);
    margin-top: 50px;
    line-height: 120%;
}

.imageContainer{
    display: flex;
    justify-content: center;
    padding: 0;
    position: relative;
    z-index: 10;
    width: fit-content;
    margin: auto;
    margin-top: 110px;
}

.aboutImg{
    background-image: url(../content/images/about-us\ img.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: clamp(10px, 81.6vw, 600px);
    height: clamp(10px, 75.2vw, 375px);
    border-radius: 10px;
    transition: 0.5s;
}

.aboutImg::before{
    content: "";
    display: block;
    width: clamp(10px, 17.3vw, 100px);
    height: clamp(10px, 17.3vw, 100px);
    background-color: rgb(247, 245, 255, 0.75);
    border-radius: 10px;
    position: absolute;
    top: -10px;
    left: -10px;
    z-index: -1;
    transition: 0.5s;
}

.aboutImg::after{
    content: "";
    display: block;
    width: clamp(10px, 44vw, 250px);
    height: clamp(10px, 44vw, 250px);
    background-color: rgb(247, 245, 255, 0.75);
    border-radius: 10px;
    position: absolute;
    bottom: -10px;
    right: -10px;
    z-index: -1;
    transition: 0.5s;
}

/* Start Section Hover ↓ */

.aboutImg:hover{
    box-shadow: 0px 0px 15px rgb(119, 0, 169), 0px 0px 30px rgb(119, 0, 169);
}

.aboutImg:hover::before{
    top: 0;
    left: 0;
}

.aboutImg:hover::after{
    bottom: 0;
    right: 0;
}

/* Start Section Responsivity ↓ */

@media (min-width: 768px){
    .aboutImg::before{
        top: -25px;
        left: -25px;
    }
    .aboutImg::after{
        right: -35px;
        bottom: -35px;
    }
}

@media (min-width: 1440px){
    #startSection{
        grid-template-columns: auto auto;
        justify-content: space-between;
        margin-left: clamp(100px, 9.375vw, 180px);
        margin-right: clamp(100px, 10.677vw, 205px);
        margin-top: 80px;
    }
    .textContainer{
        align-items: flex-start;
    }
    .textContainer p{
        width: clamp(10px, 37.76vw, 725px);
    }
    .imageContainer{
        margin: 0;
        justify-content: right; 
    }
    
}

/* Reach Section Styling ↓ */

#reachSection{
    margin-top: clamp(10px, 66.66vw, 350px);
}

.titleContainer h2{
    font-family: MainFont;
    font-weight: 700;
    font-size: clamp(5px, 6.93vw, 32px);
    text-align: center;
}

.numberRow{
    display: grid;
    grid-template-columns: auto;
}

.numContainer{
    margin-top: 100px;
}

.numContainer h4{
    font-family: MainFont;
    font-weight: 600;
    font-size: 48px;
    text-align: center;
}

.numContainer p{
    font-family: Inter;
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    opacity: 0.75;
}

.loadingBarRow{
    margin-top: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.loadingBarContainer{
    font-family: Inter;
    font-weight: 400;
    font-size: clamp(5px, 4.26vw, 20px);
    display: flex;
    justify-content: space-between;
    width: clamp(5px, 80vw, 800px);
    padding: 0;
    margin-bottom: 5px;
}

.loadingBar{
    width: clamp(5px, 80vw, 800px);
    height: 5px;
    background-color: rgb(54, 54, 54);
    padding: 0;
}

.progress{
    width: clamp(5px, 72vw, 720px);
    height: 5px;
    background-color: rgb(247, 245, 255);
}

.loadingBarRow2{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.progress2{
    width: clamp(5px, 48vw, 480px);
    height: 5px;
    background-color: rgb(247, 245, 255);
}

.progress3{
    width: clamp(5px, 64vw, 640px);
    height: 5px;
    background-color: rgb(247, 245, 255);
}

/* Reach Section Responsivity ↓ */

@media (min-width: 768px){
    .numberRow{
        grid-template-columns: auto auto;
    }
    .numContainer{
        margin-top: 140px;
    }    
}

@media (min-width: 1440px){
    .numberRow{
        grid-template-columns: auto auto auto auto;
    }
}

/* Team Section Styling ↓ */

#teamSection{
    margin-top: clamp(10px, 66.66vw, 350px);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titleRow h2{
    font-family: MainFont;
    font-weight: 700;
    font-size: clamp(5px, 6.933vw, 32px);
    text-align: center;
}

.teamRow{
    display: grid;
    grid-template-columns: auto;
}

.teamMember{
    margin-top: 119px;
    padding: 0;
}

.teamMember h4{
    text-align: center;
    margin-top: 30px;
    font-family: MainFont;
    font-weight: 600;
    font-size: clamp(5px, 6.4vw, 32px); 
}

.teamMember p{
    font-family: Inter;
    font-weight: 400;
    font-size: clamp(5px, 3.2vw, 16px);
    opacity: 0.75;
    text-align: center;
    width: clamp(5px, 80vw, 350px);
    margin: auto;
    line-height: 115%;
}

.memberPhoto{
    background-image: url(../content/images/dirk\ selfie.png);
    background-position: center;
    background-size: contain;
    width: clamp(10px, 46.66vw, 200px);
    height: clamp(10px, 46.66vw, 200px);
    margin: auto;
}

.memberPhotoI{
    background-image: url(../content/images/jasmin\ selfie.png);
    background-position: center;
    background-size: contain;
    width: clamp(10px, 46.66vw, 200px);
    height: clamp(10px, 46.66vw, 200px);
    margin: auto; 
}

.memberPhotoII{
    background-image: url(../content/images/christine\ selfie.png);
    background-position: center;
    background-size: contain;
    width: clamp(10px, 46.66vw, 200px);
    height: clamp(10px, 46.66vw, 200px);
    margin: auto;  
}

.memberPhotoIII{
    background-image: url(../content/images/ibrahim\ selfie.png);
    background-position: center;
    background-size: contain;
    width: clamp(10px, 46.66vw, 200px);
    height: clamp(10px, 46.66vw, 200px);
    margin: auto;  
}

/* Team Section Responsivity ↓ */

@media (min-width: 1024px){
    .teamRow{
        margin-left: clamp(100px, 9.375vw, 180px);
        margin-right: clamp(100px, 9.375vw, 180px);  
        width: fit-content;
    }
    .teamMember{
        display: flex;
        justify-content: center;
    }
    .memberTextContainer{
        margin-left: clamp(0px, 2.61vw, 50px);
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .teamMember h4{
        width: fit-content;
        margin: 0;
    }
    .teamMember p{
        text-align: left;
        margin: 0;
    }
    .memberPhoto{
        margin: 0;
    }
}

@media (min-width: 1920px){
   .teamRow{
    grid-template-columns: auto auto;
    gap: 360px;
   }
}

/* ----Gallery Page---- */

/* Gallery Content Section Styling ↓ */

.galleryRow1{
    gap: 50px;
    padding: 0px clamp(0px, 9.375vw, 180px);
    margin-bottom: 50px;
}

.galleryRow2{
    gap: 50px;
    padding: 0px clamp(0px, 9.375vw, 180px);
}

.bigImgContainer{
    display: flex;
    justify-content: center;
}

.bigImgContainer img{
    width: clamp(10px, 80vw, 750px);
    height: clamp(10px, 69.33vw, 650px);
}

.smallImgContainer{
    display: grid;
    grid-template-columns: auto;
    justify-content: center;
    gap: 50px;
    width: fit-content;
    height: fit-content;
}

.smallImgContainer img{
    width: clamp(10px, 80vw, 300px);
    height: clamp(10px, 69.33vw, 260px);
}

.galleryRow1 img{
    border-radius: 10px;
    transition: 0.5s;
}

.galleryRow2 img{
    border-radius: 10px;
    transition: 0.5s;
}

/* Gallery Content Section Hover ↓ */

.galleryRow1 img:hover{
    box-shadow: 0px 0px 15px rgb(119, 0, 169), 0px 0px 30px rgb(119, 0, 169), 0px 0px 45px rgb(119, 0, 169);
    scale: 0.95;
    transition: 0.5s;
}

.galleryRow2 img:hover{
    box-shadow: 0px 0px 15px rgb(119, 0, 169), 0px 0px 30px rgb(119, 0, 169), 0px 0px 45px rgb(119, 0, 169);
    scale: 0.95;
    transition: 0.5s;
}

/* Gallery Content Section Responsivity ↓ */

@media (min-width: 768px){
    .bigImgContainer img{
        width: clamp(610px, 39.0625vw, 750px);
        height: clamp(530px, 33.854vw, 650px);    
    }
    .smallImgContainer{
        grid-template-columns: auto auto;
    }
    .smallImgContainer img{
        width: clamp(300px, 17.96875vw, 345px);
        height: clamp(260px, 15.625vw, 300px);
    }

}

@media (min-width: 1440px){
    .galleryRow1{
        margin-top: 25px;
    }
}

/* ----Contact Page---- */

/* Contact Content Section Styling ↓ */

.contentBg{
    background-image: linear-gradient( rgb(10,10,10) 0%, rgb(12,0,17) 31%, rgb(20,17,22) 62%, rgb(24,24,24) 100%);
    padding: 150px 0px;
    position: relative;
}

#contactContent{
    color: rgb(247, 245, 255);
    display: flex;
    flex-direction: column;
}

.left{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contactContainer{
    margin-bottom: 55px;
    margin-left: clamp(0px, 13.33vw, 180px);
    width: fit-content;
}

.contactContainerLast{
    margin-bottom: 0;
    margin-left: clamp(0px, 13.33vw, 180px);
    max-width: clamp(5px, 64vw, 410px);
}

.contactTag{
    font-family: Inter;
    font-weight: medium;
    font-size: clamp(5px, 5.33vw, 24px);
    opacity: 0.75;
}

.contact{
    font-family: MainFont;
    font-weight: 600;
    font-size: clamp(5px, 6.4vw, 32px);
    cursor: pointer;
}

.contact::after{
    content: "";
    display: block;
    width: 0%;
    height: 2px;
    background-color: rgb(247, 245, 255);
    transition: 0.5s;
}

.socialsContainer{
    display: flex;
    align-items: center;
    gap: 25px;
}

.socialsContainer i{
    transition: 0.5s;
}

.contactIconYt{
    font-size: 35px;
}

.contactIconIg{
    font-size: 30px;
}

.contactIconFb{
    font-size: 25px;
}

.right{
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
}

.map{
    width: clamp(10px, 100vw, 800px);
    height: clamp(10px, 80vw, 600px);
    aspect-ratio: 4/3;
    border-radius: 10px;
    margin-top: 100px;
}

/* Contact Content Section Hover ↓ */

.contact:hover:after{
    width: 100%;
    transition: 0.5s;
}

.socialsContainer i:hover{
    cursor: pointer;
    color: rgb(119, 0, 169);
    text-shadow: 0px 0px 30px rgb(119, 0, 169);
    transition: 0.5s;
}

/* Contact Content Section Responsivity ↓ */

@media (min-width: 500px){
    .right{
        margin-left: clamp(0px, 13.33vw, 180px);
        margin-right: clamp(0px, 13.33vw, 180px);    
        justify-content: left;
    }
    .map{
        width: clamp(375px, 41.65vw, 800px);
        height: clamp(300px, 31.25vw, 600px); 
    }
}

@media (min-width: 1024px){
    .contentBg{
        padding-top: 140px;
        padding-bottom: 200px;
    }
    .contactContainer{
        margin-bottom: 50px;
    }
}

@media (min-width: 1440px){
    #contactContent{
        flex-direction: row;
    }
    .right{
        margin-left: 0;
        margin-right: clamp(0px, 13.33vw, 180px);    
        justify-content: right;
        width: fit-content;
    }
    .map{
        margin-top: 0px;
    }
}