/*#############
Color Variables
#############*/

:root {
    --c1: #F8F8F5;
    --c2: #ccccc2;
    --c3: #7ed957;
    --c4: #38b6ff;
}


/*#######
All sites
#######*/

body {
    background: var(--c1);
}

.phone-exclusive {
    display: none;
}

.first-section {
    margin-top: 100px;
}

.green-shadow {
    text-shadow: 4px 4px 0px var(--c3);
}

.basic-link {
    color: black;
    text-decoration: underline var(--c3) 2px;
}

.navbar {
    padding: 0;
    border-bottom: 4px solid var(--c2);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
    --bs-navbar-toggler-focus-width: 0px;
}

.navbar .container-fluid {
    background: var(--c1);
}

.navbar-nav {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    font-family: "Dancing Script";
    font-weight: 700;
    font-size: 20px;
}

.nav-link {
    transition: text-shadow 0.3s;
    height: fit-content;
}

.nav-link:active {
    text-shadow: 2px 2px 0px var(--c3);
}

.scroll-progressbar {
    position: absolute;
    bottom: -4px;
    width: 0;
    height: 4px;
    background-color: var(--c3);
    animation: scroll-progress linear both;
    animation-timeline: scroll();
}

.outer-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    width: 50px;
    height: 50px;
    transition: transform 0.3s;
    transform: rotate(45deg);
    z-index: 0;
}

.inner-btn {
    text-align: center;
    background-color: var(--c1);
    width: 30px;
    height: 30px;
}

.nav-link-text {
    display: inline-block;
    white-space: nowrap;
    position: relative;
    left: 50%;
    z-index: 5;
    transform: translateX(-50%) rotate(-45deg);
    transition: transform 0.3s;
}

.nav-link-current {
    text-shadow: 1px 1px 0px var(--c3);
}

.logo {
    max-width: 100px;
    margin: 0;
}

#footerSection {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 10vh;
    width: 100%;
    background-color: var(--c2);
}

#footerSection p {
    margin: 0;
    color: var(--c1);
}

.scroll-to-top-link {
    position: absolute;
    right: 20px;
}

.btn-scroll-to-top {
    height: 50px;
    width: 50px;
    position: absolute;
    right: 0;
    transform: translateY(-50%) rotate(-90deg);
    border: 2px solid var(--c1);
}

.btn-scroll-to-top:hover {
    border: 2px solid var(--c1);
}

.btn-scroll-to-top:focus {
    outline: 0;
}

.btn-design {
    background: var(--c1);
    border: 2px solid var(--c2);
    color: black
}

.btn-design:hover {
    background-color: var(--c2);
    border: 2px solid var(--c2);
}

.btn-design:active {
    background-color: var(--c2);
    border: 2px solid var(--c2);
}

.btn-primary {
    font-family: "Dancing Script";
    --bs-btn-font-weight: 600;
    --bs-btn-color: black;
    --bs-btn-bg: var(--c1);
    --bs-btn-border-color: var(--c2);
    --bs-btn-hover-color: var(--c1);
    --bs-btn-hover-bg: var(--c2);
    --bs-btn-hover-border-color: var(--c2);
    --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
    --bs-btn-active-color: var(--bs-btn-hover-color);
    --bs-btn-active-bg: var(--c2);
    --bs-btn-active-border-color: var(--c2);
}


/*###
Index
###*/

#welcomeSection {
    display: flex;
    flex-direction: column;
    background: var(--c2);
    height: 80vh;
    
}

#welcomeSection img {
    opacity: 30%;
    width: 100%;
    object-fit: cover;
    height: 80vh;
}

.welcome-text {
    position: relative;
    top: -50vh;
    margin-left: 100px;
    width: 500px;
    font-family: "Dancing Script";
}

#introductionSection {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-top: 4px solid var(--c2);
    padding-top: 50px;
    padding-bottom: 50px;
}

.card {
    border: 2px solid var(--c2);
    max-width: 20%;
}

.card-title {
    font-family: "Dancing Script";
    text-shadow: 1px 1px 0px var(--c3);
}


/*#####
Gallery
#####*/

#galleryWelcomeSection {
    height: 40vh;
    background-color: var(--c2);
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
    padding-left: 100px;
    padding-right: 100px;
}

#galleryWelcomeSection h3 {
    font-family: "Dancing Script";
    text-shadow: 1px 1px 0px var(--c3);
}

#gallerySection {
    display: flex;
    align-items: center;
    flex-direction: column;
}

#carouselGallery {
    width: 100%;
    margin-top: 100px;
    margin-bottom: 100px;
}

#carouselGallery .img-wrapper {
    display: flex;
    flex-direction: row;
}

#carouselGallery img {
    object-fit: cover;
    max-width: 31%;
    border: 2px solid var(--c2);
    border-radius: 5px;
}

.img-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-around;
    height: 100%;
}


/*#####
Contact
#####*/

#contactWelcomeSection {
    background-color: var(--c2);
    height: 40vh;
    padding-left: 100px;
    padding-right: 100px;
    display: flex;
    align-items: left;
    justify-content: center;
    flex-direction: column;
}

#contactWelcomeSection h3 {
    font-family: "Dancing Script";
    text-shadow: 1px 1px 0px var(--c3);
}

#contactSection {
    min-height: 40vh;
}

.accordion-body {
    border: 2px solid var(--c2);
    border-top: 2px solid transparent;
    background-color: var(--c1);
    padding: 50px;
}

.accordion-button {
    background-color: var(--c1);
    border: 2px solid var(--c2);
}

.accordion-button:focus {
    --bs-accordion-btn-focus-border-color: var(--c2);
    --bs-accordion-btn-focus-box-shadow: none;
}

.accordion-button:not(.collapsed) {
    background-color: var(--c1);
}

.accordion-contact-credentials {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.contact-map {
    border-radius: 20px;
}

.accordion-service-access {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-times-table {
    border-collapse: collapse;
    width: 90%;
}

.contact-times-table * {
    border: 3px solid var(--c2);
    padding: 5px;
    text-align: center;
}

.contact-times-table th {
    background-color: var(--c2);
}

.contact-times-table td {
    background-color: var(--c1);
}

.contact-times-table tr :nth-child(2), .contact-times-table tr :nth-child(3), .contact-times-table tr :nth-child(4)  {
    width: 30%;
}


/*######
About Us
######*/

#aboutUsWelcomeSection {
    background-color: var(--c2);
    height: 40vh;
    padding-left: 100px;
    padding-right: 100px;
    display: flex;
    align-items: left;
    justify-content: center;
    flex-direction: column;
}

#aboutUsSection h3 {
    font-family: "Dancing Script";
    text-shadow: 1px 1px 0px var(--c3);
}

#aboutUsSection {
    padding: 50px;
    text-align: center;
}

#aboutUsSection img {
    max-width: 80%;
    margin-top: 20px;
    border-radius: 50px;
    border: 2px solid var(--c2);
}


/*##############
Scroll Animation
##############*/

@keyframes scroll-progress {
    0% {
        width: 0;
    }

    100% {
        width: 100%;
    }
}


/*################
Phone Responsivity
################*/

@media only screen and (max-width: 768px) {

    /*#######
    All Sites
    #######*/

    .phone-exclusive {
        display: block;
    }

    .pc-exclusive {
        display: none;
    }

    .logo {
        max-width: 75px;
    }

    .first-section {
        margin-top: 80px;
    }

    .green-shadow {
        text-shadow: 2px 2px 0px var(--c3);
    }


    /*###
    Index
    ###*/

    #welcomeSection {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: var(--c2);
        height: 80vh;
    }

    #welcomeCarousel {
        position: relative;
        margin-top: 180px;
    }

    .welcome-text {
        width: 50vw;
        text-align: center;
        margin-left: 0;
    }

    .card-body {
        align-items: end;
    }

    #introductionSection {
        flex-direction: column;
    }

    .card {
        margin-top: 20px;
        margin-bottom: 20px;
        max-width: 80%;
    }


    /*#####
    Gallery
    #####*/

    #galleryWelcomeSection {
        height: 80vh;
        text-align: center;
    }

    #carouselGalleryPhone {
        width: 100%;
        margin-top: 50px;
        margin-bottom: 50px;
    }
    
    #carouselGalleryPhone .img-wrapper {
        display: flex;
        flex-direction: row;
    }
    
    #carouselGalleryPhone img {
        object-fit: cover;
        max-width: 80%;
        border: 2px solid var(--c2);
        border-radius: 5px;
        transform: translateX(-50%);
    }

    #carouselGalleryPhone .carousel-inner {
        display: flex;
        justify-content: center;
    }

    #carouselGalleryPhone .carousel-control-prev {
        transform: translateX(50%);
    }

    #carouselGalleryPhone .carousel-control-next {
        transform: translateX(-50%);
    }


    /*#####
    Contact
    #####*/

    #contactWelcomeSection {
        height: 80vh;
        text-align: center;
    }

    .accordion-body {
        display: flex;
        flex-direction: column;
    }


    /*######
    About Us
    ######*/

    #aboutUsSection img {
        max-width: 100%;
        border-radius: 25px;
        border: 2px solid var(--c2);
    }
}
